# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
.fleet
.idea
.vscode

# Local env files
.env
.env.*
!.env.example

# Database
*.db
*.sqlite
*.sqlite3
prisma/*.db
prisma/*.sqlite

# Backup
backups/
*.backup

# PM2
.pm2

# Generated
/generated/prisma
